@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Helvetica */

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica"),
    url("../assets/fonts/Helvetica/Helvetica.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Oblique"),
    url("../assets/fonts/Helvetica/Helvetica-Oblique.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Compressed";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Compressed"),
    url("../assets/fonts/Helvetica/helvetica-compressed-5871d14b6903a.woff")
      format("woff");
}

@font-face {
  font-family: "Helvetica Rounded Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Rounded Bold"),
    url("../assets/fonts/Helvetica/helvetica-rounded-bold-5871d05ead8de.woff")
      format("woff");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica"),
    url("../assets/fonts/Helvetica/Helvetica-Bold.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Bold Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Bold Oblique"),
    url("../assets/fonts/Helvetica/Helvetica-BoldOblique.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Light";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Light"),
    url("../assets/fonts/Helvetica/helvetica-light-587ebe5a59211.woff")
      format("woff");
}

/* Helvetica */

/* Inter */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Inter */


/*Great Vibes*/

.great-vibes-font {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}


/*Great Vibes*/
